body {
    font-family: sans-serif;
}

.btn {
    background-color: #960018;
    color: white;
    border-color: #960018;
    border-radius: 8px;
    font-size: 20px;
    width: 110px;
}

.btn:hover {
    background-color: #ff5050;
}

.welcome {
    width: auto;
    background-color: #960018;
    color: white;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input{
    width: 500px;
    height: 30px;
    font-size: 20px;
    width: fit-content;
}

#todos{
    margin-bottom: 20px;
    font-size: 27px;
}

.sort{
    width: fit-content;
}
